# If you don't know what that means, follow https://developer.android.com/studio/publish/app-signing#generate-key

storeFile=[PATH TO KEYSTORE]
storePassword=[PASSWORD TO KEYSTORE]
keyAlias=[UPLOAD KEY NAME]
keyPassword=[UPLOAD KEY PASSWORD]